<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWwvL9IIpUXXYBnOBbBYT3PPr2_Sy5Mn4</string>
	<key>GCM_SENDER_ID</key>
	<string>1063224115485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letstart.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>letsstart-f253c</string>
	<key>STORAGE_BUCKET</key>
	<string>letsstart-f253c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063224115485:ios:9ddd099ab20096abdee1f4</string>
</dict>
</plist>